@value font-weight from '../../css/vars.module.css';
@value font-size from '../../css/vars.module.css';

$fontFamily:Raleway;

.title{
   color: chartreuse;
   font-size: font-size;
   font-family: $fontFamily;
}

